@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
  font-family: 'Red Hat Display', sans-serif;
  background-image: url('./images/pattern-background-desktop.svg');
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 500;
}

.card {
  background-color: white;
  border-radius: 1rem;
  max-width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 30px 0 0;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.hero-image {
  width: 100%;
}

h1 {
  opacity: 0.8;
}

.content {
  text-align: center;
  padding: 0 3rem;
  opacity: 0.5;
}

.btn {
  border: none;
  padding: 0.8rem 6rem;
  cursor: pointer;
  margin: 8px 0;
}

.btn.primary {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.btn.secondary {
  border: none;
  background-color: transparent;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.music-plan {
  margin: 1rem 3rem;
  padding: 0.8rem 1rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.music-plan img {
  height: 100%;
  width: 100%;
}

.music-plan__price {
  padding: 0 1rem;
}

.music-plan__price :nth-child(1) {
  width: 9ch;
  font-weight: 700;
}

.music-plan__price :nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
}

.music-plan__change {
  margin-left: 50px;
  align-self: center;
  text-decoration: underline;
  color: blue;
  font-size: small;
}
